@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-1: #007aff;
	--color-2: #6f00ff;
}

.image-container {
	@apply bg-[#111] h-screen w-full;
}

.text-hover {
	@apply hover:text-lime-300 transition-colors duration-500 cursor-pointer;
}

.text {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, var(--color-1), var(--color-2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 2s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
